{% extends 'base.html' %} {% block title %} HOME {% endblock title %} {% block
body %}

<!-- Navbar -->

<!-- Todo Form -->
<div class="container my-4">
  <h1 class="mb-4">Add a Todo</h1>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" name="desc" class="form-control" id="desc" required />
    </div>
    <button type="submit" class="btn btn-outline-dark btn-primary">
      Add Todo
    </button>
  </form>
</div>

<!-- Todo Table -->
<div class="container my-4">
  <h2>Your Todos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if allTodo|length == 0 %}

      <tr>
        <td colspan="5" class="text-center">No Todos Found</td>
      </tr>

      {% endif %} {% for todo in allTodo %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ todo.title }}</td>
        <td>{{ todo.desc }}</td>
        <td>{{ todo.date_created }}</td>
        <td>
          <a href="/Delete/{{ todo.sno }}" class="btn btn-light btn-sm my-1"
            >Delete</a
          >
          <a href="/Update/{{ todo.sno }}" class="btn btn-light btn-sm my-1"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
